.tab{
    margin: 20px;   
   
    .MDBtab{
       
            #peril{
                color:  #ff3646;
                font-size: 20px;
            }
            #ponte{
                color: #00c851;
                font-size: 20px;
            }

           #accouplement{
                color : #ffbb32;
                font-size: 20px;
           }

           #action{
                color: #33b4e5;
                font-size: 20px;
           }
           #mort{
            font-size: 20px;
           }
           #souffrance{
            color:#ab66cb;
            font-size: 20px;
        }
    }
}